In [27]:
from core.models import TickerMap

In [28]:
pd.DataFrame(TickerMap.objects.all().values("ticker", 'cusip'))

       ticker      cusip
0          DB  D18190898
1      SANPRE  E8683R144
2         ACT  G0083B108
3         AYR  G0129K104
4        ALKS  G01767105
...       ...        ...
31794   SSPXF  38076C102
31795      YY  46591M109
31796    DVOP  53656F839
31797    REAC  74945M203
31798  YYXXXX  98426T106

[31799 rows x 2 columns]

In [29]:
import pandas as pd

In [94]:
TickerMap.objects.filter(cusip='G0083B108').values()

In [30]:
from processors.parser.filing_map import get_all_filings
from processors.parser.filing_map import get_all_filings

In [31]:
cik_list = ['0001569064', '0001317583', '0001680964']

In [32]:
cik = cik_list[0]
# for cik in cik_list:
filing = get_all_filings(cik)

In [14]:
from core.models import Security

In [62]:
existing = Security.objects.all().values("ticker", 'id')
existing = pd.DataFrame(existing)
existing = existing.set_index("ticker")

In [79]:
Security.objects.filter(pk__gte=3).delete()

(0, {})

In [84]:
all_tickers = filing[['name_of_issuer', 'ticker']].reset_index(drop=True).dropna().drop_duplicates("ticker")
new_tickers = all_tickers.join(existing)
new_tickers = new_tickers[new_tickers.id.isnull()].drop("id", axis=1)
new_tickers = new_tickers.rename({"name_of_issuer": "name"}, axis=1).to_dict("records")

In [83]:
# new_tickers[new_tickers.ticker.str.contains("ADBE")]

  name_of_issuer ticker
1      ADOBE INC   ADBE

In [85]:
security_list = [Security(**entry) for entry in new_tickers]
Security.objects.bulk_create(security_list);

In [86]:
all_tickers =  pd.DataFrame(Security.objects.values("ticker", 'id')).set_index("ticker")

In [93]:
filing

,name_of_issuer,title_of_class,value,number_of_shares,sh,investment_discretion,voting_authority_sole,voting_authority_shared,voting_authority_none,ticker,report_date
cusip,,,,,,,,,,,
00507V109,ACTIVISION BLIZZARD INC,COM,155546,2617740,SH,SOLE,2617740,0,0,ATVI,12-31-2019
00724F101,ADOBE INC,COM,323793,981755,SH,SOLE,981755,0,0,ADBE,12-31-2019
02209S103,ALTRIA GROUP INC,COM,142829,2861740,SH,SOLE,2861740,0,0,MO,12-31-2019
023135106,AMAZON COM INC,COM,258698,140000,SH,SOLE,140000,0,0,AMZN,12-31-2019
036752103,ANTHEM INC,COM,124361,411750,SH,SOLE,411750,0,0,ANTM,12-31-2019
...,...,...,...,...,...,...,...,...,...,...,...
92857W209,VODAFONE GROUP PLC NEW,SPONS ADR NEW,29805,758200,SH,SOLE,758200,0,0,VODXXXX,12-31-2013
G0083B108,ACTAVIS PLC,SHS,18043,107400,SH,SOLE,107400,0,0,ACT,12-31-2013
G0083B108,ACTAVIS PLC,SHS,18043,107400,SH,SOLE,107400,0,0,B108PS,12-31-2013
G60754101,MICHAEL KORS HLDGS LTD,SHS,28636,352700,SH,SOLE,352700,0,0,KORS,12-31-2013
Y8564W103,TEEKAY CORPORATION,COM,15541,323700,SH,SOLE,323700,0,0,TK,12-31-2013